/*Loading*/
#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:2000px;
    z-index:20000;
    background-color:#ffffff;
}

#pageloading{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}

.loading-indicator {
    font-size:8pt;
    font-family:verdana,tahoma,helvetica;
    background-image:url(/js/ext/resources/images/default/shared/large-loading.gif);
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
    height:18px;
    text-align:left;
}

/*GLOBAL*/
body{margin:0px; padding:0px 0px 20px 0px; font-family:Tahoma, Arial, Helvetica, sans-serif; background:#F9F9F9;}
a,a:hover{outline:none;}
img{border:0px;}
ul{margin:0px; padding:0px; list-style:none;}
ul li{margin:0px; padding:0px; list-style:none;}

/*HEADER*/
.hdr_bg{background:url(../images/hdr_bg.jpg) top left repeat-x;}

/*PNG TRANSPARENCY SETTING*/
.transparent{behavior:url(images/iepngfix.htc);}

/*CONTENT*/
.bdr_curve_tm{border-top:1px solid #E1E4E5;}
.content_main{border-left:1px solid #E1E4E5; border-right:1px solid #E1E4E5; background:#FFFFFF; padding:0px 10px 10px 10px;}
.bdr_breadcrumbs{border:1px solid #E3E3E3; background-color:#EDEDED; padding:3px 0px 3px 5px;}
a.link_12_gray{font-size:12px; color:#7A7A7A; text-decoration:underline;}
a.link_12_gray:hover{text-decoration:none;}
.content_fields{border-top:1px solid #E1E4E5; border-bottom:1px solid #E1E4E5; padding:0px 0px 10px 0px;}
h1{padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;}

.bdr_grey{border:1px solid #CCCCCC;}
.block_hdng_tl{background:url(../images/block_hdng_tl.jpg) top left no-repeat; height:22px; width:4px;}
.block_hdng{background:url(../images/block_hdng.jpg) repeat-x #333333; font-size:12px; font-weight:bold; color:#FFFFFF; padding-left:5px;}
.block_content{border-left:1px solid #B8B4B1; border-right:1px solid #B8B4B1;}
.data_title{background:#F0F0F0; font-size:12px; color:#181818; text-align:left; padding:5px 5px 2px 10px; border-top:1px solid #C0C0C0; vertical-align:top;}
.data_title_indent{background:#F0F0F0; font-size:12px; color:#181818; text-align:left; padding:5px 5px 2px 25px; border-top:1px solid #C0C0C0; vertical-align:top;}
.data_content{background:#ffffff; font-size:12px; color:181818; text-align:left; padding:2px 5px 2px 5px; border-top:1px solid #C0C0C0; vertical-align:top;}
.data_div_content{background:#ffffff; padding:5px; margin:0px;}
.table_title{background:#F0F0F0; font-size:12px; color:#181818; text-align:left; padding:3px 5px 3px 5px; vertical-align:middle;}
.table_content{background:#ffffff; font-size:12px; color:181818; text-align:left; padding:3px 5px 3px 5px; vertical-align:middle;}
.table_summary{background:#EBF8FE; font-size:12px; color:181818; padding:3px 5px 3px 5px; vertical-align:middle;}
.float_left{float:left;}
.float_right{float:right;}

/*LIST*/
ul.list_inline{margin-left:0; padding-left:0;	display:inline;	border:none;}
ul.list_inline li{margin-left:0;	padding-left:5px;	border:none;	list-style:none;	display:inline;}

/*MENU LEFT PANEL*/
.bdr_menu_bm{border-bottom:1px solid #E1E4E5;}
.bg_menu_tm{background:url(../images/menu_bg_tm.jpg) top left repeat-x;}
.txt_label_menu{font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#333333;}
.menu_body{border-left:1px solid #E1E4E5; border-right:1px solid #E1E4E5; padding:0px 5px 0px 5px;}
.menu_item_lvl_1{padding:5px 0px 3px 0px;}
.menu_item_lvl_2{padding:3px 0px 3px 5px;}
.menu_item_lvl_3{padding:3px 0px 3px 10px;}
a.link_12_menu{font-size:12px; color:#0088CC; text-decoration:none;}
a.link_12_menu:hover{text-decoration:underline;}

/*COMMON CSS*/
.txt_12{font-size:12px; color:#333333;}
.txt_12_hdr{font-size:12px; color:#889CB5;}
.txt_12_footer{font-size:12px; color:#CDCDCF;}
.txt_12_gray{font-size:12px; color:#7A7A7A;}
.txt_10{font-size:10px; color:#181818;}
a.link_12{font-size:12px; color:#333333; text-decoration:underline;}
a.link_12:hover{text-decoration:none;}
a.link_12_white{font-size:12px; color:#FFFFFF; text-decoration:none;}
a.link_12_white:hover{text-decoration:underline;}
a.link_12_green{font-size:12px; color:#4F7416; text-decoration:underline;}
a.link_12_green:hover{text-decoration:none;}

/*PADDING*/
.pad_10_left{padding-left:10px;}
.pad_10_right{padding-right:10px;}
.pad_10_all{padding:10px;}
.pad_10_side{padding-left:10px; padding-right:10px;}
.pad_10_ceiling{padding-top:10px; padding-bottom:10px;}
.pad_10_top{padding-top:10px;}
.pad_10_bottom{padding-bottom:10px;}
.pad_20_right{padding-right:20px;}
.pad_20_left{padding-left:20px;}
.pad_20_bottom{padding-bottom:20px;}
.pad_20_top{padding-top:20px;}
.pad_5_all{padding:5px;}
.pad_5_right{padding-right:5px;}
.pad_5_left{padding-left:5px;}
.pad_5_top{padding-top:5px;}
.pad_5_bottom{padding-bottom:5px;}
.pad_5_side{padding-left:5px; padding-right:5px;}
.pad_5_ceiling{padding-top:5px; padding-bottom:5px;}
.pad_3_top{padding-top:3px;}
.pad_3_left{padding-left:3px;}

/*COLLAPSE*/
.switch_menu{border-top-width:0;}
.show_state{cursor:hand; cursor:pointer;}

/*IMAGE*/
.button img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);-moz-opacity:1;}
.button:hover img{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); -moz-opacity:0.7;}

/*FORCE COLOR*/
.color_red{color:#FF3300;}
.color_grey{color:#666666;}

/*FOOTER*/
.bg_footer{background:url(../images/bg_footer_bm.jpg) top left repeat-x;}

/*POPUP MENU*/
#dropmenudiv{position:absolute; border:1px solid #AEB9C2; border-bottom-width: 0; font:normal 11px Tahoma; line-height:18px; z-index:100;}
#dropmenudiv a{width:100%; display:block; text-indent:3px; border-bottom:1px solid #AEB9C2; border-top:1px solid #FFFFFF; padding:1px 0; text-decoration:none; color:#00325C;}
#dropmenudiv a:hover{background-color:#C3DDEF; color:#00020A;}

/*ADDED*/

/*Buttons*/
.icon_ext_add {background-image:url(/images/page.gif) !important;}
.icon_ext_edit {background-image:url(/images/edit.gif) !important;}
.icon_ext_cancel {background-image:url(/images/cancel.gif) !important;}
.icon_ext_save {background-image:url(/images/save.gif) !important;}
.icon_ext_delete {background-image:url(/images/delete.gif) !important;}
